@use '../../scss/abstract/mixins';
@use '../../scss/base/resets';
body{
    @include mixins.flxbx();
    margin-top: 100px;
    height: 100%;
    background-color: rgba(14,14,14,0.9);
    background-image: linear-gradient(170deg,rgba(14,14,14,0) 85%,rgba(14,14,14,.98)),radial-gradient(circle at 10% 0,rgba(34,34,34,.98),rgba(14,14,14,.2) 14%,rgba(14,14,14,0) 48%);
    background-attachment: fixed;
}

 button.landing-button {
    @include mixins.btn();
}
button.landing-button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
}
.container{
    @include mixins.flxbx();
    flex-direction: column;
    height: 0;
}
h1.landing-h1 {
    margin-top: 500px;
    color: white;
    font-weight: 800;
    margin-bottom: 30px;
    transition: text-shadow 0.3s;
    font-size: 3rem;
}

h1.landing-h1:hover {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(255, 255, 255, 0.4);
}
h2.landing-h2{
    margin-top: 30px;
    color: white;
    font-weight: 600;
    margin-bottom: 30px;
    transition: text-shadow 0.3s;
    font-size: 2rem;
}
h2.landing-h2:hover {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(255, 255, 255, 0.4);
}

