.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2%;
  box-shadow: 0 0 10px rgba(110, 108, 108, 0.5), 0 0 20px rgba(82, 80, 80, 0.3);
}
.card-container:hover{
  box-shadow: 0 0 10px rgba(110, 108, 108, 0.5), 0 0 20px rgba(255, 255, 255, 0.9);
}
.card-h1 {
  color: white;
}

.card-image {
  width: 500px;
  height: 350px;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
.genre-container{
  display: flex;
  flex-direction: row;
}
.genre-p{
color: white;
margin-left: 10px;
margin-top: 10px;
margin-bottom: 10px;
padding: 10px;
font-size: 1.2rem;
box-shadow: 0 2px 4px rgba(255, 255, 255, 0.7)
}
